/**
 * Site header
 */
//
// body
//     border-top: 4px solid #e05731

.lead
    font-size: 1.25rem


.container
    max-width: 38rem
    margin-right: auto
    margin-left: auto
    padding: 2rem 1.5rem

    @media (min-width: 38rem)
        padding: 5rem 1rem



.masthead
    &-title
        font-weight: 300

        a
            color: #333

            &:hover,
            &:focus
                text-decoration: none



        span
            color: #ddd



    &-title--small
        font-size: .75rem
        font-weight: 600

        margin-bottom: .75rem

        text-transform: uppercase

        a
            color: #333

            &:hover,
            &:focus
                text-decoration: none




    .masthead-nav
        margin-bottom: 2rem

        a
            font-weight: 300

            -webkit-transition: all .2s ease
            -moz-transition: all .2s ease
            transition: all .2s ease
            text-transform: lowercase

            color: #aaa

            &:hover,
            &:focus
                text-decoration: none

                color: #333


            + a
                margin-left: .25rem





.page
    &-title
        margin-bottom: 2rem



.post
    &-title
        margin-bottom: .25rem

    &-date
        font-size: .75rem

        margin-bottom: 2rem

        text-transform: uppercase



.list
    &-post-title
        margin-bottom: .25rem

        a
            color: #333

            &:hover,
            &:focus
                text-decoration: none



    &-post-date
        font-size: .75rem

        margin-bottom: 1rem

        text-transform: uppercase



.projects-list
    a
        color: #333
