@font-face
    font-family 'AndikaBasic'
    font-weight normal
    font-style normal
    src url('../font/AndikaBasic.eot?#iefix') format('embedded-opentype'),  url('../font/AndikaBasic.woff') format('woff'), url('../font/AndikaBasic.ttf')  format('truetype'), url('../font/AndikaBasic.svg#AndikaBasic') format('svg')
